@model HauShop.Web.Infrastructure.Core.PaginationSet<HauShop.Web.Models.ProductViewModel>
@{
    var category = (HauShop.Web.Models.ProductCategoryViewModel)ViewBag.Category;
    var pageIndex = Model.Page;
    ViewBag.Title = pageIndex == 1 ? category.Name : category.Name + " - trang " + pageIndex;
    ViewBag.MetaKeyword = pageIndex == 1 ? category.MetaKeyword : category.MetaKeyword + " - trang " + pageIndex;
    ViewBag.Description = pageIndex == 1 ? category.MetaDescription : category.MetaDescription + " - trang " + pageIndex;
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="women-product">

    @if (Model.Count > 0)
    {
        <div class=" w_content">
            <div class="women">
                <a href="/@(category.Alias).pc-@(category.ID).html"><h4>@category.Name - <span>@Model.Count sản phẩm</span> </h4></a>
                <ul class="w_nav">
                    <li>Sắp xếp : </li>
                    <li><a class="active" href="?page=@Model.Page&sort=popular">Phổ biến</a></li> |
                    <li><a href="?page=@Model.Page&sort=new">Mới </a></li> |
                    <li><a href="?page=@Model.Page&sort=discount">Khuyến mãi</a></li> |
                    <li><a href="?page=@Model.Page&sort=price">Giá: thấp -> cao </a></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>
    <!-- grids_of_4 -->
        <div class="grid-product">
            <div class="product-left">
                @foreach (var product in Model.Items)
                {
                    var url = "/" + product.Alias + ".p-" + product.ID + ".html";
                    <div class="col-md-4 chain-grid grid-top-chain">
                        <a href="@url"><img class="img-responsive chain" src="@product.Image" /></a>
                        <span class="star"> </span>
                        <div class="grid-chain-bottom">
                            <h6><a href="@url">@product.Name</a></h6>
                            <div class="star-price">
                                <div class="dolor-grid">
                                    @if (product.PromotionPrice.HasValue)
                                    {
                                        <span class="actual">@product.PromotionPrice.Value.ToString("N0")</span>
                                    }
                                    <span class="reducedfrom">@product.Price.ToString("N0")</span>
                                    <span class="rating">
                                        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                        <label for="rating-input-1-5" class="rating-star1"> </label>
                                        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                        <label for="rating-input-1-4" class="rating-star1"> </label>
                                        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                        <label for="rating-input-1-3" class="rating-star"> </label>
                                        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                        <label for="rating-input-1-2" class="rating-star"> </label>
                                        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                        <label for="rating-input-1-1" class="rating-star"> </label>
                                    </span>
                                </div>
                                <a class="now-get get-cart btnAddToCart" href="#" data-id="@product.ID">Mua hàng</a>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"> </div>
            </div>

            <div class="clearfix"></div>
            @if (Model.TotalPages > 1)
            {
                // Create numeric links
                var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

                <nav>
                    <ul class="pagination">
                        @if (Model.Page > 1)
                        {
                            <li>
                                <a href="?page=1" aria-label="First">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li>
                                <a href="?page=@(Model.Page-1)" aria-label="Previous">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                        }

                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (Model.Page == i)
                            {
                                <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="?page=@i" title="Trang @i">@i</a></li>
                            }
                        }
                        @if (Model.Page < Model.TotalPages)
                        {
                            <li>
                                <a href="?page=@(Model.Page+1)" aria-label="Next">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="?page=@Model.TotalPages" aria-label="Last">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    }
    else
    {
        <div class="text-center">Không có bản ghi nào tìm thấy</div>
    }
</div>